.headerD {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
  background-color: #ffc6c6;

  .logo {
    font-size: 1.6rem;
    font-weight: bold;
    color: #008000;

    &::before {
      content: 'My ';
    }

    &::after {
      content: 'food 🩷';
    }

    span {
      color: #ff4d79; // розовое сердечко
      margin: 0 4px;
    }
  }

  .header-actions {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .user-greeting {
    display: flex;
    align-items: center;
    font-size: 16px;

    .welcome {
      color: black;
    }

    .user-name {
      color: #ff4d79;
      font-weight: 500;
      margin-left: 3px;
    }
  }

  .add-btn {
    background-color: #00a04f;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 10px 18px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #007a3d;
    }
  }

  .auth-btn {
    background-color: #00a04f;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 10px 18px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #007a3d;
    }
  }
}

.Name {
  margin-right: 30px;
  color: red;
  font-size: 1.4rem;
  font-weight: bold;
}