.card {
  display: flex;
  gap: 12px;
  padding: 16px;
  border-radius: 20px;
  background-color: #ffd6d6;
  align-items: flex-start;
  max-width: 90%;
  margin: auto;
  margin-bottom: 2rem;

  img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
  }

  .titleh1 {
    margin-top: -10px;
    margin-bottom: 0px;
  }

  h3 {
    font-size: 18px;
    margin: 0;
    color: #000;
  }

  h2 {
    margin: 0;
  }

  p {
    font-size: 14px;
    color: #333;
    margin: 6px 0;
  }

  .tags {
    font-style: italic;
    color: #666;
    font-size: 13px;
  }
}

.desc {
  white-space: normal;
  overflow-wrap: anywhere;
  word-break: break-word;
}
