html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}

body {
  font-family: sans-serif;
  margin: 0;
  background: #f8f8f8;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-main {
  flex: 1 0 auto; // Чтобы занять всё пространство между хедером и футером
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  background: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);

  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .add-btn {
    padding: 0.5rem 1rem;
  }
}

.filters {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  background: #fff;
  margin: 1rem;
}

.app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.recipes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.card {
  background: white;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

  img {
    width: 100%;
    border-radius: 8px;
  }

  .tags {
    font-size: 0.8rem;
    color: #666;
  }
}


.floating-add {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 2rem;
  background: #28a745;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
